<h1><%= @user.username %></h1>
<h2><%= @user.password %></h2>
<h2><%= @user.email %></h2>
<%= link_to "<< Back to users List", users_path %> <br>
<%= link_to "<< delete", user_path(@user), method: :delete, data: {confirm: "Really delete this user?"}
 %><br>
 <%= link_to "<< edit", edit_user_path(@user) %>